[submodule "panda"]
  path = panda
  url = ../../CT921/panda.git
[submodule "opendbc"]
  path = opendbc
  url = ../../CT921/opendbc.git
[submodule "cereal"]
  path = cereal
  url = ../../CT921/cereal.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = ../../commaai/rednose.git
[submodule "body"]
  path = body
  url = ../../commaai/body.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = ../../commaai/teleoprtc
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/geohot/tinygrad.git
