{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div id="video-card" class="grid grid-cols-1 w-full mb-2 p-2 place-items-center float-left" hx-get="/video?route={{route}}" hx-trigger="load"></div>
<div id="map" class="w-full" style="height:400px"></div>
<p class="px-2 py-4 w-full text-center">
Note: conversion for json download is slow. May take up to 90 seconds for rlog to start downloading in json
</p>
<div id="segment-card" class="xl:w-1/2 w-full p-2 float-left" hx-get="/video/segments?route={{route}}&hide_conversion=true" hx-trigger="load"></div>
<div id="logs-card" class="xl:w-1/2 w-full p-2 float-left" hx-get="/logs/segments?route={{route}}" hx-trigger="load"></div>
<script>
  htmx.onLoad(function(elt) {
    if(elt.id == 'my_video_1') {
      var hls = new Hls();
      hls.loadSource(elt.children[0].src);
      hls.attachMedia(elt);
    }
  })
</script>
<script>
  function display_gpx(elt) {
    if (!elt) return;

    var url = "/gpx/route/lite/{{route}}.gpx";

    function _t(t) { return elt.getElementsByTagName(t)[0]; }
    function _c(c) { return elt.getElementsByClassName(c)[0]; }

    var map = L.map('map');
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>'
    }).addTo(map);

    var control = L.control.layers(null, null).addTo(map);

    new L.GPX(url, {
      async: true,
      marker_options: {
        startIconUrl: '/static/pin-icon-start.png',
        endIconUrl:   '/static/pin-icon-end.png',
        shadowUrl:    '/static/pin-shadow.png',
      },
    }).on('loaded', function(e) {
      var gpx = e.target;
      console.log(gpx)
      map.fitBounds(gpx.getBounds());
      control.addOverlay(gpx, gpx.get_name());

      /*
       * Note: the code below relies on the fact that the demo GPX file is
       * an actual GPS track with timing and heartrate information.
       */
      _t('h3').textContent = gpx.get_name();
      _c('start').textContent = gpx.get_start_time().toDateString() + ', '
        + gpx.get_start_time().toLocaleTimeString();
      _c('distance').textContent = gpx.get_distance_imp().toFixed(2);
      _c('duration').textContent = gpx.get_duration_string(gpx.get_moving_time());
      _c('pace').textContent     = gpx.get_duration_string(gpx.get_moving_pace_imp(), true);
      _c('elevation-gain').textContent = gpx.to_ft(gpx.get_elevation_gain()).toFixed(0);
      _c('elevation-loss').textContent = gpx.to_ft(gpx.get_elevation_loss()).toFixed(0);
      _c('elevation-net').textContent  = gpx.to_ft(gpx.get_elevation_gain()
        - gpx.get_elevation_loss()).toFixed(0);
    }).addTo(map);
  }

  display_gpx(document.getElementById('map'));
</script>
{% endblock content %}
