{% extends 'base.html' %}
{% block title %}Logs{% endblock title %}
{% block content %}
<div class="flex flex-col w-full">
  <div class="flex flex-row w-full">
    <label for="route" class="ml-8 block font-medium leading-6 text-slate-600 dark:text-gray-400">Route</label>
  </div>
  <div class="flex flex-row w-full">
    <select id="route" name="route" class="ml-8 mt-2 block bg-gray-50 dark:bg-slate-700 rounded-md border-0 py-1.5 pl-3 pr-10 text-slate-600 dark:text-gray-100 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:sm:leading-6" hx-get="/logs/segments" hx-target="#logs">
      <option></option>
      {% for option in options %}
      <option value="{{option}}">{{option}}</option>
      {% endfor %}
    </select>
  </div>
  <p class="p-6 px-8">
    Note: conversion for json download is slow. May take up to 90 seconds for rlog to start downloading in json
  </p>

  <div class="w-full items-center justify-between px-8 flex flex-row" id="logs">
  </div>
</div>
{% endblock content %}
